<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete user</title>
</head>
<body>
    <h2>You are about to delete user </h2>
    <form method="post" action="/user/<%= user.id%>?_method=DELETE">
        <input type="text" name="email" placeholder="enter your email id">
        <input type="password" name="password" placeholder="enter your password">
        <button>Delete user</button>
    </form>
</body>
</html>